body{
    background-color: #7a4ef5;
    background-image: url(gambar/352c810eec6623478fd52b60030a6549.jfif)
}
.warp{
    width: 80%;
    margin: auto;
    color: white ;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
    background-color: #00ced1;

}
.container{
    padding: 5px;
}
table{
    margin: auto;
}
table td{
    padding: 5px;
}
button{
    widht: 50px;
    height: 30px;
    background-color: #00ced1;
    background-radius: 7px;
}
